#brands{
  padding-top: 80px;
  .brands-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0.5, 0.5, 0.5, 0.1);
    border-top: 1px solid rgba(0.5, 0.5, 0.5, 0.1);

    img {
      height: 100px;
      width: 160px;
      height: auto;
    }

  }
}

#main_top {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(0.5, 0.5, 0.5, 0.1);
  .col-4 {

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      filter: brightness(30%);

    }
    &:hover img{
      filter: brightness(50%);
    }
    h3 {
      position: absolute;
      bottom: 5%;
      right: 10%;
      font-size: 40px;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 300;
    }
  }
}

#products_list {

}
